/*Parte del footer*/
footer{/* modificamos el footer para que tenga un fonde de color, que ocupe todo el ancho de la pantalla, y que tenga un margen con el main */
    position:relative;
    width:100%;
    height:10%;
    background-color: rgb(208, 207, 207);
}
span,address{   /* Posicionamos el texto a la izquierda y que se comporte como un elemento de linea*/
    display: inline;
    text-align: left;
}
aside h3{/* Posicionamos el texto a la izquierda y que se comporte como un elemento de linea*/
    display: inline;
    
}